.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
  border: 1px solid black; /* Shows the lines in the CSS grid */
}

.xo{
    font-size:75px;
}

.display {
  text-align: center;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
  background-color: CORAL;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #999;
}

button:hover {background-color: coral}

button:active {
background-color: coral;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.leaderboard {
  text-align: right;
  position: absolute;
  top: 0px;
  right: 5px;
}